# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.vercel

# Images sources
*.zip
photos-extracted/
1cdc7aa8-94de-42e5-96ff-5f36746a1d6d.jpg
.playwright-mcp/

# PDF files
*.pdf
.next
.env*.local
